<main>
    <header>
        <h1 style="color: aliceblue;">Tags</h1>
    </header>
    
    
    <a [routerLink]="['tags-detail/javascript']"><span class="tag tag-javascript tag-lg">#javascript</span></a>
    <a [routerLink]="['tags-detail/node']"><span class="tag tag-node tag-lg">#node</span></a>
    <a [routerLink]="['tags-detail/angular']"><span class="tag tag-angular tag-lg">#angular</span></a>
    <a [routerLink]="['tags-detail/typescript']"><span class="tag tag-typescript tag-lg">#typescript</span></a>
    <a [routerLink]="['tags-detail/css']"><span class="tag tag-css tag-lg">#css</span></a>
    <a [routerLink]="['tags-detail/ionic']"><span class="tag tag-ionic tag-lg">#ionic</span></a>
    <a [routerLink]="['tags-detail/rxjs']"><span class="tag tag-rxjs tag-lg">#rxjs</span></a>
    <a [routerLink]="['tags-detail/python']"><span class="tag tag-python tag-lg">#python</span></a>
    <a [routerLink]="['tags-detail/google-maps']"><span class="tag tag-google-maps tag-lg">#google-maps</span></a>
    <a [routerLink]="['tags-detail/firebase']"><span class="tag tag-firebase tag-lg">#firebase</span></a>
    <a [routerLink]="['tags-detail/docker']"><span class="tag tag-docker tag-lg">#docker</span></a>
    <a [routerLink]="['tags-detail/github']"><span class="tag tag-github tag-lg">#github</span></a>
    <a [routerLink]="['tags-detail/pwa']"><span class="tag tag-pwa tag-lg">#pwa</span></a>
</main>
