<main>
    <header>
        <h1 style="color: aliceblue;">Tags</h1>
    </header>
    
    
    <a href="/tags/javascript/"><span class="tag tag-javascript tag-lg">#javascript</span></a>
    <a href="/tags/node/"><span class="tag tag-node tag-lg">#node</span></a>
    <a href="/tags/angular/"><span class="tag tag-angular tag-lg">#angular</span></a>
    <a href="/tags/typescript/"><span class="tag tag-typescript tag-lg">#typescript</span></a>
    <a href="/tags/css/"><span class="tag tag-css tag-lg">#css</span></a>
    <a href="/tags/ionic/"><span class="tag tag-ionic tag-lg">#ionic</span></a>
    <a href="/tags/rxjs/"><span class="tag tag-rxjs tag-lg">#rxjs</span></a>
    <a href="/tags/python/"><span class="tag tag-python tag-lg">#python</span></a>
    <a href="/tags/google-maps/"><span class="tag tag-google-maps tag-lg">#google-maps</span></a>
    <a href="/tags/firebase/"><span class="tag tag-firebase tag-lg">#firebase</span></a>
    <a href="/tags/docker/"><span class="tag tag-docker tag-lg">#docker</span></a>
    <a href="/tags/github/"><span class="tag tag-github tag-lg">#github</span></a>
    <a href="/tags/pwa/"><span class="tag tag-pwa tag-lg">#pwa</span></a>
</main>
