<div class="two-grids -contact">
  <div class="post-thumbnail" style="background-image: url('https://images.unsplash.com/photo-1525598912003-663126343e1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'); margin-bottom: 0px;">
    <h1 class="post-title">
      Get in Touch</h1>
      <p>
        Let me help you kick start your next project →
      </p>
    </div>
    <div>
      <form class="form-container" [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
        <div>
          <label for="w3lName"> Nombre </label>
          <input type="text" formControlName="nombre" >
        </div>
        <div>
          <label for="w3lSender">Email</label>
          <input type="email" formControlName="email" >
        </div>
        <div>
          <label for="w3lSubject">Asunto</label>
          <input type="text" formControlName="asunto">
        </div>
        <div>
          <label for="w3lMessage">Mensaje</label>
          <textarea formControlName="mensaje"></textarea>
        </div>
        <div style="display: flex; justify-content: flex-end;">
          <button mat-raised-button class="submit-btn" type="submit" >Enviar</button>
        </div>
      </form>
    </div>
</div>


