<div class="two-grids -contact">
  <div class="post-thumbnail" style="background-image: url('https://images.unsplash.com/photo-1525598912003-663126343e1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'); margin-bottom: 0px;">
    <h1 class="post-title">
      Get in Touch</h1>
      <p>
        Let me help you kick start your next project →
      </p>
    </div>
    <div>
      <form class="form-container" action="https://sendmail.w3layouts.com/SubmitContactForm" method="post">
        <div>
          <label for="w3lName"> Name </label>
          <input type="text" name="w3lName" id="w3lName">
        </div>
        <div>
          <label for="w3lSender">Email</label>
          <input type="email" name="w3lSender" id="w3lSender">
        </div>
        <div>
          <label for="w3lSubject">Subject</label>
          <input type="text" name="w3lSubject" id="w3lSubject">
        </div>
        <div>
          <label for="w3lMessage">Message</label>
          <textarea name="w3lMessage" id="w3lMessage"></textarea>
        </div>
        <div style="display: flex; justify-content: flex-end;">
          <input type="submit" class="button -primary" style="margin-right: 0px;">
        </div>
      </form>
    </div>
</div>


