<div 
fxLayout='row' 
class="two-grids -contact"
fxLayout.xs="column">
  <div fxFlex="50" class="post-thumbnail" style="background-image: url('https://images.unsplash.com/photo-1525598912003-663126343e1f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80'); margin-bottom: 0px;">
    <h1 class="post-title">
      Contáctame</h1>
      <p>
        Puedes contactarte conmigo a través del siguiente formulario. Si has detectado un error en el sitio, si piensas que algo puede ser mejorado o agregado al mismo, o si simplmente quieres conversar conmigo, esta es la forma de hacerlo. →
      </p>
    </div>
    <div fxFlex="50">
      <form class="form-container" [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
        <div>
          <label> Nombre </label>
          <input type="text" formControlName="nombre" >
           <div class="alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
             <div class="container-error-message" *ngIf="nombre.errors.required">
               Indique su nombre!
             </div>

           </div>
        </div>


        <div>
          <label>Email</label>
          <input type="email" formControlName="email" >
          <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div class="container-error-message" *ngIf="email.errors.required">
              Indique el email!
            </div>
            <div class="container-error-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
              Ingrese una direccion de email valida!
            </div>

          </div>
        </div>
        <div>
          <label>Asunto</label>
          <input type="text" formControlName="asunto">
          <div class="alert-danger" *ngIf="asunto.invalid && (asunto.dirty || asunto.touched)">
            <div class="container-error-message" *ngIf="asunto.errors.required">
              Indique el asunto!
            </div>

          </div>
        </div>
        <div>
          <label>Mensaje</label>
          <textarea formControlName="mensaje"></textarea>
          <div class="alert-danger" *ngIf="mensaje.invalid && (mensaje.dirty || mensaje.touched)">
            <div class="container-error-message" *ngIf="mensaje.errors.required">
              Indique su mensaje!
            </div>
         
            <div class="container-error-message" *ngIf="mensaje.errors.minlength">
              El mensaje debe tener un minimo de 10 caracteres.
            </div>
            

          </div>
        </div>
        <div style="display: flex; justify-content: flex-end;">
          <button mat-raised-button class="submit-btn" type="submit">Enviar</button>
        </div>
      </form>
    </div>
</div>


