<mat-toolbar  class="navbar">
  <span color="primary" (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </span>
  &nbsp;&nbsp;
  <a routerLink="/">
    <mat-icon>home</mat-icon>
  </a>
  <span class="fill-remaining-space"></span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav class="sidenav"  #sideNav [(opened)]="opened" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="posts"> <mat-icon>description</mat-icon>Articulos </a>
    </mat-nav-list>

    <mat-divider></mat-divider>
    <!-- <mat-nav-list>
      <a mat-list-item routerLink="profile">
        <mat-icon>account_circle</mat-icon>Profile
      </a>
    </mat-nav-list> -->

    <mat-nav-list>
      <a mat-list-item routerLink="profile">
        <mat-icon>forward_to_inbox</mat-icon>Entradas
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLink="kanban">
        <mat-icon>text_snippet</mat-icon>Kanban
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
