@import "src/scss/variables";
.navbar {
  position: sticky;
  background-color: #000000;
  
  top: 0;
  z-index: 1000;
  mat-icon {
    cursor: pointer;
  }
}
mat-icon {
  color: #9984D5;
}

mat-sidenav {
  width: 200px;
  cursor: pointer;
  background:#fff;
  position: fixed;
  top: 55px;
  z-index: 1000;
}

.mat-list-base .mat-list-item,
a {
  color:$default_black;
  text-decoration: none;
  cursor: pointer;
}



