<a [routerLink]="['/post', post.id]">
<img matCardImage [src]="post.imagePost" [alt]="post.imagePost" />
</a>
<mat-card-content>
  <mat-card-title>
    <a [routerLink]="['/post', post.id]">
      {{ post.titlePost }}
    </a>
  </mat-card-title>
 
</mat-card-content>

<mat-card-actions>
  <mat-chip-list>
    <mat-chip *ngFor="let tag of post.tagsPost" [ngClass]="tag">
      {{ tag }}
    </mat-chip>
  </mat-chip-list>
</mat-card-actions>
<mat-card-footer>
 <small>{{post.fecha | transformarfecha}}</small> 
</mat-card-footer>
