@import "src/scss/variables";
  a {
    cursor: pointer;
    color: #E1E0E3;
    text-decoration: none;
    
  }
  a:hover{
    color: #9984d5;
  }
   img {
      height: 300px;
      object-fit: cover;
     
      padding: 0;    
      
    }

    small{
      font-size: 13px;
      font-weight: 100;
      color: #888;
    }
    p.content {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #E1E0E3;
    
      
    }
