@import "src/scss/variables";

a {
  color: #888;
  text-decoration: none;
  margin-left: 10px;
 
}
a:hover{
 color: #9984D5;
}

a button {
  font-weight: 400;
  font-size: 1rem;
 
}
.brand{
  color:#9984D5;
  font-weight: 800;
  font-size: 22px;
  padding-bottom: 6px;
  padding-top: 1px;
  margin-left: 0;
}
mat-toolbar {
  padding: 0 0;
  background-color: #0A041A;
  margin-bottom: 32px;
}
mat-toolbar-row {
  padding: 0;
}

.container{
  width: 15%;
  height: 50%;
  display: flex;
  justify-content: flex-end ;
  align-items: center;
  padding-right: 0px;
  
}

input[type=text]{
  position: relative;
  margin-right: 5px;;
  padding: 15px 40px 15px 20px;
  width: 50px;
  color: #525252;
  
  height: 4px;
  font-size: 11px;
  font-weight: 100;
  letter-spacing: 1px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
  transition: width 0.4s ease;
  outline: none;
  
  
  &:focus{ width: 100px; }
}
@media screen and(max-width: 599px){
  input[type=text]{
    width: 100px;
    padding: 15px 30px 15px 20px;
  }
  a button{
   
    font-weight: 800;
    
  }
}

.search{
  font-size: 15px;
  position: relative;
  left: -37px;
  color: #9984D5;
}


a span .fab {
  font-size: 26px;
  padding-bottom: 0px;
}

.buscar-container {
  padding-left: 70%;
}