<mat-toolbar >
  
  <mat-toolbar-row>
  <a class="brand animate__animated animate__jello" routerLink="/">{{appName}}</a>
  
  
 <div fxHide.xs="true">
  <a routerLink="/admin" routerLinkActive="active" *ngIf="authSvc.userData$ | async">
    <button mat-button>Admin</button>
  </a>

  <a routerLink="/about" routerLinkActive="active">
    <button mat-button>Contacto</button>
  </a>
 

  <a *ngIf="authSvc.userData$ | async; else showLogin" (click)="onLogout()">
    <button mat-button>Salir</button>
  </a>
  

  
  <ng-template #showLogin>
    <a routerLink="/login" routerLinkActive="active">
      <button mat-button >Iniciar Sesión</button>
    </a>
  </ng-template>
</div>
<span class="fill-remaining-space"></span>
<div class="container" fxShow fxHide.xs="true" fxHide.lg="false">
  <input placeholder='Buscar...'  type="text" (keyup.enter)="buscarPost(buscarTexto.value)" #buscarTexto>
  <i class="search fa fa-search"></i>
</div>
<a routerLink="/tags" routerLinkActive="active">
  <button mat-button><i class="fas fa-tags"></i></button>
</a>
<a href="https://github.com/Daher-Maluf"><span><i class="fab fa-github"></i></span></a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="deviceXs">
    <a routerLink="/admin" routerLinkActive="active" *ngIf="authSvc.userData$ | async">
      <button mat-button>Admin</button>
    </a>
  
    <a routerLink="/about" routerLinkActive="active">
      <button mat-button>Contacto</button>
    </a>
  
    <a *ngIf="authSvc.userData$ | async; else showLogin" (click)="onLogout()">
      <button mat-button>Logout</button>
    </a>
    <ng-template #showLogin>
      <a routerLink="/login" routerLinkActive="active">
        <button mat-button >Login</button>
      </a>
    </ng-template>
    
  </mat-toolbar-row>
 
  <ng-container *ngIf="deviceXs" >
    <mat-toolbar-row>
      <div class="container buscar-container"  >
        <input placeholder='Buscar...'  type="text" (keyup.enter)="buscarPost(buscarTexto.value)" #buscarTexto>
        <i class="search fa fa-search"></i>
      </div>
    </mat-toolbar-row>
   
  
  </ng-container>
 

</mat-toolbar>
  