<div class="hero-header">
    <div class="headline animate__animated animate__slideInLeft">Hola! Soy Sirur Maluf</div>
    <div class="primary-content">
        El Lorem Ipsum fue concebido como un texto de relleno, formateado de una cierta manera para permitir la presentación de elementos gráficos en documentos, sin necesidad de una copia formal. El uso de Lorem Ipsum permite a los diseñadores reunir los diseños y la forma del contenido antes de que el contenido se haya creado, dando al diseño y al proceso de producción más libertad. :)
    </div>
    <a class="button -primary" routerLink="/about">Contactame →</a>
   
</div>
