<div class="hero-header">
    <div class="headline">Bienvenidos!</div>
    <div class="primary-content">
       Soy Fausto Maluf un simple desarrollador web alojado en San Luis, Argentina y este es mi blog personal. Escuche una vez que para ser un buen programador uno debe mantenerse en aprendisaje constante y que mejor manera de afirmar el conocimiento que  plasmarlo por escrito y tratar de explicarlo.
      <br> Aqui encontraran articulos de lo ultimo en tecnologias como ser Angular, Javascript, Nodejs, Firebase, Rxjs, Typescript y mucho más.
    </div>
    <a class="button -primary" routerLink="/about">Contáctame →</a>
   
</div>
