@import "src/scss/variables";
@import "src/scss/helpers";

// .mat-card {
//   background: $default_white;
//   color: $default_black;
//   width: 80%;
//   margin: 1% auto;
//   padding: 2%;
//   border-radius: 0;
//   box-shadow: initial;

//   .mat-card-title {
//     font-size: 2rem;
//     text-transform: uppercase;
//   }

//   .mat-card-content {
//     width: 80%;
//     text-align: center;
//     margin: 0 auto;
//     p.content {
//       text-align: initial;
//     }
//   }

//   img {
//     width: 100%;
//     border-radius: 6px;
//   }
// }

// .align-center {
//   text-align: center;
//   clear: both;
//   display: block;
//   margin: 6px auto;
// }

.post-thumbnail {
  text-align: center;
  min-height: 380px;
  background-color: #66578d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: 18px;
  margin-bottom: 36px;
  color: #fff;
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
}
.post {
  padding: 0;
  background: #0a041a;
  color: #fff;
  line-height: 1.5;
}

.post-thumbnail:before {
  content: "";
  background: rgba(0,0,0,.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.post>.blog-post-content {
  max-width: 768px;
  margin: 0 auto;
}

mat-card img {
  width: 100%;
  height: 300px;
}

