
<article class="post container animated fadeIn" *ngIf="post$ | async as post; else loading">
<div class="header">
  <h1 class="post-title" [ngStyle.xs]="{'font-size.px': 60}">{{ post.titlePost }}</h1>
  <h6>{{ post.fecha | transformarfecha }}</h6>
  
</div>

<div class="blog-post-content">
  <quill-view [content]="post.contentPost" [preserveWhitespace]="true" format="html"></quill-view>
  <br>
  <br>
  <br>
  <br>
  <h3>¿Te pareció interesante? Compártelo:</h3>
  <share-buttons [size]="1" [url]="ROOT_URL"></share-buttons>
  
</div>

</article>

<ng-template #loading>
  <div class="container-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
