

    <div  class="container animated fadeIn" *ngIf="postscat$ | async as posts; else loading"  >
      
        <div id="success-box" *ngIf="posts.length == 0">
           
          <div class="face">
            <div class="eye"></div>
            <div class="eye right"></div>
            <div class="mouth sad"></div>
          </div>
          <div class="shadow scale"></div>
          <div class="message"><h1 class="alert">Lo Siento!</h1><p>No hay resultados para tu busqueda!</p></div>
         
        </div>
     
      <mat-card  class="post-card  " *ngFor="let post of posts ">
        <app-post [post]="post"></app-post>
      </mat-card>
    </div>
  
    <ng-template #loading>
      <div class="container-spinner">
        <app-spinner></app-spinner>
      </div>
    </ng-template>