@import "src/scss/variables";

.container {
  
  //  margin: 1.6em auto;
  display: grid;
  grid-template-columns: repeat(3,31%);
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  justify-content: center;
  .post-card {
    &:hover {
      opacity: 0.8;
      
    }
    border-radius: 9px;
    line-height: 1.5;
    overflow: hidden;
    border: 1px solid #181326;
    box-shadow: 0 0 30px #020204;
    border-radius: 8px;
    background: $card_background;
    color: $default_white;
    
    // padding: 20px;
    font-size: 150%;
  }
}
@media screen and(max-width: 760px){
  .container{
    padding: 0;
  }
  .container .post-card{
    grid-column: 1/-1;
  
   
  }
}

.blog-section-title {
  color: #E1E0E3;
  
}
