
<app-hero-header></app-hero-header>
<h2 class="blog-section-title">Blog Posts ↓</h2>
<div class="container-spinner" *ngIf="!cargado">
  <app-spinner></app-spinner>
</div>

<div class="container animated fadeIn" >
 
  <mat-card  class="post-card  " *ngFor="let post of posts">
    <app-post [post]="post"></app-post>
  </mat-card>
  
</div>
<!-- <button mat-raised-button (click)="prevPage()" [disabled]="disable_prev || !(pagination_clicked_count>0)">Previous</button>
  <button mat-raised-button (click)="nextPage()" [disabled]="disable_next">Next</button> -->
<ng-template #loading>
  
</ng-template>
