@import "./scss/reset";
@import "./scss/variables";
@import"./scss/_categorychips";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&family=Nunito:wght@400;700;900&family=Poppins:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #0A041A;
  border-top: 10px solid #9984D5;
  
 
   }
// .active {
//   border: 1px solid $default_white;
// }
.fill-remaining-space{
  flex: 1 1 auto;
  
  }

.container-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.ngx-pagination {
  display: flex;
  justify-content: space-between;
  padding-left: 0px !important;
}

.ngx-pagination .current
 {
  
  
  display: none !important;
}
.pagination-previous,.pagination-next{
 
  font-weight: bold;
  font-size: 45px;
  
}


.ngx-pagination a, .ngx-pagination button {
  color: #9984D5 !important;
  display: block;
  padding: 0.1875rem 0.625rem;
  border-radius: 0;
}
.ngx-pagination a:hover, .ngx-pagination button:hover{
  outline: unset;
  background-color: #0A041A !important;
  border: none !important;
  
}
.ngx-pagination .disabled {
 
  color: blueviolet !important;
  
}

.ngx-pagination a span{
  display: none;
}
.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}


