@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato', sans-serif;
$category_color_life: #D1D1D1;
$category_color_sport:#D1D1D1;
$category_color_style:#D1D1D1;

$default_white: whitesmoke;
$default_black: #000;
$file_white: #ccc;
$card_background: #181326;

$button_purpure: #0A041A;

// alert css variables

$white: #FCFCFC;
$gray: #CBCDD3;
$dark: #777777;
$error: #EF8D9C;
$orange: #FFC39E;
$success: #9984D5;
$secondary: #99DBB4;
     