$category_color_life: #D1D1D1;
$category_color_sport:#D1D1D1;
$category_color_style:#D1D1D1;

$default_white: whitesmoke;
$default_black: #000;
$file_white: #ccc;
$card_background: #181326;

$button_purpure: #451e89;
     